@page "/trainsdata"
@using System.ComponentModel;
@using Trains.Client.ViewModels;
@using Trains.Client.Components;
@inject ITrainsViewModel TrainsViewModel
@implements IDisposable

<h1>International railway system</h1>

<p>This component demonstrates fetching data from the server.</p>

<CascadingValue Value=@TrainsViewModel Name="TrainsViewModel">
    <TableComponent/>
    <FormComponent/>
</CascadingValue>

@functions {

    protected override async Task OnInitializedAsync()
    {
        TrainsViewModel.PropertyChanged += OnPropertyChangedHandler; // Uncomment this on demo
        await TrainsViewModel.RetrieveTrainsAsync();
        await base.OnInitializedAsync();
    }

    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        TrainsViewModel.PropertyChanged -= OnPropertyChangedHandler;
    }
}